* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
}
.header__container {
  max-width: 1472px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 40px;
}
.header__container--logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__container--logo--title {
  font-family: Yeseva One;
  font-weight: 400;
  font-style: Regular;
  font-size: 35px;
  line-height: 120%;
  letter-spacing: 0%;
}
.header__container--logo--btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 36px;
  background-color: rgba(255, 242, 242, 1);
  border: none;
  margin-left: 30px;
  margin-right: 185px;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  padding: 0 20px;
  gap: 10px;
  color: rgba(142, 74, 78, 1);
}
.header__container--logo--btn--img {
  width: 24;
  height: 24;
  margin: 8px 0;
}
.header__container--nav {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-left: auto;
}
.header__container--nav--link {
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0%;
  color: rgba(1, 25, 54, 1);
}
.header__container--user {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
.header__container--user--chat {
  gap: 10px;
  margin-left: 221px;
  padding-right: 20px;
}
.header__container--user--login {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  gap: 10px;
}
.someSweet {
  background-color: #fff;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: row;
  max-width: 1472px;
  width: 100%;
  margin: 0 auto;
}
.someSweet__container {
  display: grid;
  align-items: start;
  gap: 40px;
  max-width: 842px;
  margin-right: auto;
}
.someSweet__container--box {
  max-width: 463px;
}
.someSweet__container--box--title {
  font-family: Yeseva One;
  font-weight: 400;
  font-style: Regular;
  font-size: 42px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #0d1b2a;
  margin-bottom: 16px;
}

.someSweet__container--box--p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(67, 96, 124, 1);
  margin-bottom: 30px;
  width: 400px;
}

.someSweet__container--box--label {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 30px;
}

.someSweet__container--label--input {
  flex: 1;
  padding: 14px 16px;
  border: none;
  outline: none;
  font-size: 16px;
}

.someSweet__container--box--label--btn {
  background-color: #ffb171;
  border: none;
  padding: 14px 24px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  color: #663f2d;
  transition: background-color 0.3s ease;
}

.someSweet__container--box--label--btn:hover {
  background-color: #ffa14f;
}

.someSweet__container--category {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  max-width: 603px;
}

.someSweet__container--category--btn {
  background-color: #ffecec;
  color: #7d4141;
  border: none;
  padding: 10px 18px;
  border-radius: 20px;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.someSweet__container--category--btn:hover {
  background-color: #ffdada;
}
.someSweet__container--category--select {
  border: none;
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgba(142, 74, 78, 1);
  gap: 5px;
}
.someSweet__container--sliderBox--slider {
  width: 53px;
  height: 24px;
  margin-left: 802px;
  margin-bottom: 15px;
}
.someSweet__container--sliderBox--categoryChoose {
  display: flex;
  gap: 20px;
}
.someSweet__container--sliderBox--categoryChoose--slider {
  width: 53px;
  height: 24px;
}
.someSweet__container--sliderBox--categoryChoose--box--img {
  width: 152;
  height: 100;
  border-radius: 5px;
}
.someSweet__container--sliderBox--categoryChoose--box--title {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: rgba(67, 96, 124, 1);
  display: flex;
  justify-content: center;
}
.someSweet__secondContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.someSweet__secondContainer--box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.someSweet__secondContainer--box--imgOne {
  width: 175px;
  height: 333px;
  border-top-right-radius: 70px;
  border-bottom-right-radius: 70px;
}
.someSweet__secondContainer--box--imgTwo {
  width: 175px;
  height: 347px;
  border-top-right-radius: 70px;
  border-bottom-left-radius: 70px;
  border-width: 1px;
}
.someSweet__secondContainer--box--imgThree {
  width: 354px;
  height: 684px;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
}
.torts {
  max-width: 1472px;
  width: 100%;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 80px;
}
.torts__sliderBox {
  display: flex;
  margin-bottom: 20px;
}
.torts__sliderBox__title {
  font-family: Yeseva One;
  font-weight: 400;
  font-size: 35px;
  line-height: 120%;
}
.torts__sliderBox--btnBox {
  display: flex;
  gap: 20px;
  width: 100%;
  align-items: center;
}
.torts__sliderBox--btnBox--btn {
  max-width: 146px;
  width: 100%;
  height: 35px;
  opacity: 1;
  border-radius: 30px;
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-left: 20px;
  background: rgba(220, 235, 248, 1);
  color: rgba(67, 96, 124, 1);
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0%;
  border: none;
  margin-left: auto;
}
.torts__sliderBox--btnBox--slider {
  width: 53px;
  height: 24px;
  margin-left: 20px;
}
.torts__box {
  display: flex;
  flex-direction: row;
  gap: 18px;
}
.torts__box--card {
  width: 280px;
  gap: 10px;
  opacity: 1;
  border-radius: 5px;
  box-shadow: 0px 2px 5px 0px rgba(67, 96, 124, 0.15);
}
.torts__box--card__image {
  width: 270px;
  height: 290px;
  gap: 10px;
  border-radius: 5px;
}
.torts__box--card__price {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  letter-spacing: 0%;
  color: rgba(166, 58, 80, 1);
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.torts__box--card__title {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  color: rgba(1, 25, 54, 1);
  padding-left: 15px;
}
.torts__box--card__subeTitle {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0%;
  color: rgba(132, 166, 194, 1);
  padding-left: 15px;
  margin-bottom: 15px;
}
.WantNewJob {
  background-color: rgba(220, 235, 248, 1);
}
.WantNewJob__container {
  max-width: 1472px;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  margin: 0 auto;
}
.WantNewJob__container--title {
  font-family: Yeseva One;
  font-weight: 400;
  font-size: 35px;
  line-height: 120%;
  color: rgba(1, 25, 54, 1);
}
.WantNewJob__container--p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(67, 96, 124, 1);
  margin-bottom: 20px;
  margin-top: 10px;
}
.WantNewJob__container--btn {
  width: 237px;
  height: 40px;
  border-radius: 30px;
  opacity: 1;
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-left: 20px;
  background-color: rgba(67, 96, 124, 1);
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  border: none;
}
